{{ define "main" }}
<main class="list-main-cont">
    <h1 class="list-title">{{ .Title }}</h1>

    {{ $paginator := .Paginate .Pages 10 }}
    <ul class="list-ul">
        {{ range $paginator.Pages }}
        <li>
            <a href="{{ .RelPermalink }}">
              <h2>{{ .Title }}</h2>
              <p>{{ .Content | plainify | strings.Truncate 250 "..." }}</p>
              <time datetime="{{ .Date.Format "2006-01-02" }}" class="list-ul-date">
                {{ .Date | time.Format ":date_long" }}
              </time>
            </a>
        </li>
        {{ end }}
    </ul>
</main>
{{ end }}
