{{ define "main" }}
<main class="inorganic-matter-main-cont">
    {{ .Content }}
    <hr>
    {{ with .Parent }}
    <div>
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle;" width="64" height="16" viewBox="0 0 64 16" fill="none">
                <g transform="rotate(180 32 8)">
                    <path xmlns="http://www.w3.org/2000/svg" d="M1 8H56" stroke="black"/>
                    <path xmlns="http://www.w3.org/2000/svg" d="M55.5 14C53.9999 12 56.0006 10 63.0005 8" stroke="currentColor"/>
                    <path xmlns="http://www.w3.org/2000/svg" d="M55.4683 2C53.9682 4 55.9688 6 62.9688 8" stroke="currentColor"/>
                </g>
            </svg>
        </span>
        <a href="{{ .Permalink }}">{{ i18n "back_to" }} {{ .Title }}</a>
    </div>
    {{ end }}
</main>
{{ end }}