// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.site-header {
    border: 0;
    line-height: normal;
}

.site-title {
    font-size: $base-font-size;
    line-height: normal;
    letter-spacing: normal;
    font-weight: bold;
    text-transform: lowercase;
    float: none;
}

.site-nav {
    float: none;
}

.nav-item {
    text-transform: lowercase;
}

.wrapper {
    padding: 0;
}

.wrapper:after {
    display: none;
}

.header-wrapper {
    border-bottom: 1px solid $border-color-01;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin-top: 50px;
}

.post-link {
    font-size: $base-font-size;
    text-transform: lowercase;
    font-style: italic;
}

.post-meta {
    color: $text-color;
}

.post-list li {
    padding: 5px 0;
    border-bottom: 1px solid $border-color-01;
    display: flex;
    justify-content: space-between;
}
