// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.site-header {
    border: 0;
    line-height: normal;
}

.site-title {
    font-size: $base-font-size;
    line-height: normal;
    letter-spacing: normal;
    font-weight: bold;
    text-transform: lowercase;
    float: none;
}

.site-nav {
    float: none;
}

.nav-item {
    text-transform: lowercase;
}

.wrapper {
    padding: 0;
}

.wrapper:after {
    display: none;
}

.header-wrapper {
    border-bottom: 1px solid $border-color-01;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    margin-top: 50px;
}

.post-link {
    font-size: 16px !important;
    text-transform: lowercase;
    font-style: italic;
    font-weight: 400;
}

h3:has(> .post-link) {
    margin-bottom: 0;
}

.post-meta {
    color: $text-color;
}

.post-list li {
    padding: 5px 0;
    border-bottom: 1px solid $border-color-01;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.hero {
	margin: 0 auto;
	max-width: 800px;
	display: flex;
	flex-direction: column;
	gap: min(50px, 5vw);
}

.hero :is(h1, h2, h3, h4, h5, h6) {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	text-transform: lowercase;
}

.hero div {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
}

.hero > div > svg {
	display: block;
	max-width: 600px;
	flex: 1;
}

.hero div:nth-child(even) {
	flex-direction: row-reverse;
}

.hero div:nth-child(odd) {
	flex-direction: row;
}
