// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: "EB Garamond", sans-serif;
$content-width: 60rem;
$link-base-color: #14b8a6;
$link-hover-color: #5eead4;
$link-visited-color: #6366f1;
