// Placeholder to allow overriding predefined variables smoothly.
$base-font-family: "IBM Plex Serif", serif;
$background-color: #e8e8e8;
$text-color: #1e1e1e;
$site-title-color: $text-color;
$heading-color: $text-color;
$border-color-01: #d4d4d4;
$link-base-color: $text-color;
$link-hover-color: $text-color;
$link-visited-color: $text-color;
