<form
    action="https://buttondown.com/api/emails/embed-subscribe/nicolasgreenwood"
    method="post"
    class="embeddable-buttondown-form"
>
    <label class="form-label" for="bd-email">Enter your email</label>
    <input class="form-input" type="email" name="email" id="bd-email" placeholder="email@example.com" />
    <div class="form-item">
        <input class="button button-large" type="submit" value="Subscribe" />
    </div>
    <p style="margin-top: 2rem; font-size: 14px; font-style: italic;">
        <a href="https://buttondown.com/refer/nicolasgreenwood" target="_blank">
            Powered by Buttondown.
        </a>
    </p>
</form>
